.box {
  text-align: center;
  background-color: #e4f7f1;
  position: relative;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 50px;
}


p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
}

.Top-cloud {
  width: 18%;
  /* height: auto; */
  /* margin-top: 30px; */
  position: absolute;
  right:10%;
  top: 80px;
  /* margin-left: 250px; */
}

.Bottom-cloud {
  width: 18%;
  height: auto;
  margin-top: 30px;
  position: absolute;
 left: 10%;

}

.mountain {
  margin-top: 80px;
  height: auto;
  width: 800px;
}
